*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
}
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
}
.navbar_logo{
    text-align: left;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
}