*{
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}
.navbar {
    font-family: 'Georgia', serif; 
    background: black;
    padding: 0 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar_logo{
    font-size: 70px;
    color: green;
    text-align: left;
    text-decoration: none;
}
.navbar_menu{
    display:flex;
    list-style: none;
    align-items: center;
}
.navbar_item{
    margin-left:45px;
}
.navbar_links{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
}
h1{
    text-align: center;
    margin-top: 70px;
}
h2{
    text-align: center;
    margin-top: 60px;
}
.centered{
    text-align:center;
}
.image_container{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    gap: 50px;
}
.image_container img{
    border-radius: 15px;
    border: 10px solid rgb(31, 176, 31)
}