*{
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}
.navbar {
    font-family: 'Georgia', serif; 
    background: rgb(28, 97, 51);
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar_logo{
    font-size: 70px;
    color: rgb(238, 255, 238);
    text-align: left;
    text-decoration: none;
}
.navbar_menu{
    display:flex;
    list-style: none;
    align-items: center;
}
.navbar_item{
    margin-left:40px;
}
.navbar_links{
    color: white;
    font-size: 21px;
    text-decoration: none;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1140px;
}
h1{
    text-align: center;
    margin-top: 45px;
}
h2{
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.centered{
    /*text-align:center;*/
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Georgia', serif; 
}
.image_container{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    gap: 50px;
}
.image_container img{
    border-radius: 15px;
    border: 10px solid rgb(28, 97, 51);
}
ul {
    list-style-type: disc;
    padding-left: 60px;
}